.about {
    .hero {
        @include hero;
        background: linear-gradient(145deg, darken($dark-blue, 5%), $dark-blue 20%, lighten($dark-blue, 20%));

        .hero-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            max-width: 1200px;
        }

        .hero-text {
            padding: 0 2.5rem;
        }

        .hero-img {
            margin: 0 auto;
            padding: 30px;

            img {
                height: 200px;
                width: 200px;
                border-radius: 999px;
                object-fit: cover;
                // border: 10px groove $light;

                @media (min-width: 768px) {
                    height: 300px;
                    width: 300px;
                }
            }

            .img-border {
                position: relative;
                padding: 30px;

                &::after {
                    content: '';
                    border-radius: 999px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: conic-gradient(from 30deg, $blue, $light 50%, transparent 50%);
                    -webkit-mask: radial-gradient(
                        farthest-side,
                        transparent calc(100% - 3px),
                        #fff calc(100% - 3px + 1px)
                    );
                    mask: radial-gradient(farthest-side, transparent calc(100% - 3px), #fff calc(100% - 3px + 1px));
                }
            }
        }
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8;
    }
}
