@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
#root {
    font-family: 'Open Sans', sans-serif;

    color: $dark-gray;
    background-color: $light-gray;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2.5rem;
}

.heading-line::before {
    content: '';
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $dark-blue;
}

.heading-line::after {
    content: '';
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $dark-blue;
}
